.personas
{
	background-color: #a3c2c2;
	margin:0px;
	padding: 15px;
	border: 3px solid #669999;
	width: 250px;
	height:94vh;
	display: inline-block;	
}

div.ctContacto
{	
	background-color: #b3cccc;
	color: black;
	margin: 30px;
	width: 80%;
	padding: 20px 10px 20px 10px;
	border-radius: 7px;
	overflow: hidden;
	margin: none;
}

p.nombre
{
	margin-left: 10px;
}

div.mensaje1
{
	width: auto;
	height: auto;
	padding: 20px 10px  20px 10px;
	border-radius: 20px;
	background-color: #b3e0ff;
	width: 150px;
	margin-left: 400px;
}

div.mensaje2
{
	width: auto;
	height: auto;
	padding: 20px 10px  20px 10px;
	border-radius: 20px;
	float: right;
	background-color: #ff4d4d;
}


/* Important part */
.modal-dialog{
    overflow-y: scroll !important;
    overflow: hidden;
}
.modal-body{
    height: 250px;
    overflow-y: scroll;
    overflow: hidden;
}

.burritos
{
	float:  right;
	position:  relative;
}