/* Color general: #00b38f */

.barraMenu
{
	width: 100%;
	background-color: #00b38f;
}

.centro
{
	width: 1400px;
	max-width: 100%;
	margin: auto;
	color: #e0ebeb;
	padding:  15px 15px 20px 15px;
}

.imgLogo
{
	margin: 7px;
	width: 30px;
}

.ftTynod
{
	color:  #f2f2f2;
	margin-bottom: -13px;
	margin-top: -10px;
}

.divBuscar
{
	border: 2px solid white;
	background-color: #00b38f;
	padding: 13px 10px 10px 10px;
	max-width: 40%;
	margin: inherit;
	border-radius: 20px;
	width:auto;
	height: 40px;
	margin-top: -40px;
	padding: 5px 5px 0px 15px;
	margin-bottom: -13px;
}

.btnBuscar
{
	background-color: #00b38f;
}

a.buscar
{
	color: white;
	display: inline-block;
	float: right;
	padding-right: 10px;
}

.divBuskar
{
	display: inline-block;
}

.txtBuscar
{
	border: none;
	outline: none;
	border-radius: 20px;
	margin: 0px;
	color: white;
	font-size: 13px;
	display: table-cell;
	background-color: #00b38f;
	flex-grow: 1;
	box-sizing: border-box;
	width: 80%;
}

::-webkit-input-placeholder {
   color: white;
}

.divFondo
{
	width: 100%;
	background-color: #1f2e2e;
	padding: 139px 20px 10px 20px;
}

body
{
	margin: 0px;
	background-color: #d9d9d9 !important;
}

.imgPerfil
{
	border-radius: 1000px;
	width: 200px;
	height: 200px;
}

#divImg
{
	text-align: center;
}

#divIcons
{
	width: 250px;
	height: auto;
	color: #f2f2f2;
	float: right;
	text-align: right;
	margin-top: -30px;
	font-size: 30px;
	-webkit-user-select: none; 
}

.divEstrellas
{
	margin: 20px;
	text-align: center;
	-webkit-user-select: none; 
}

.contenedorDatos
{
	border: 0.5px solid #00b38f;
	width: 800px;
	height: 500px;
	max-width: 45%;
	padding: 15px;
	margin: 30px;
}

.ftTitulo2
{
	color: #24478f;
	text-align: center;
	font-weight: 50;
	font-size: 30px;
}