/* Color general: #00b38f */

.barraMenu
{
	width: 100%;
	background-color: #00b38f;
}

.centro
{
	width: 1400px;
	max-width: 100%;
	margin: auto;
	color: #e0ebeb;
	padding:  15px 15px 20px 15px;
}

.imgLogo
{
	margin: 7px;
	width: 30px;
}

.ftTynod
{
	color:  #f2f2f2;
	margin-bottom: -13px;
	margin-top: -10px;
}

.divBuscar
{
	border: 2px solid white;
	background-color: #00b38f;
	padding: 13px 10px 10px 10px;
	max-width: 40%;
	margin: inherit;
	border-radius: 20px;
	width:auto;
	height: 40px;
	margin-top: -40px;
	padding: 5px 5px 0px 15px;
	margin-bottom: -13px;
}


a.buscar
{
	color: white;
	display: inline-block;
	float: right;
	padding-right: 10px;
}

.divBuskar
{
	display: inline-block;
}

.txtBuscar
{
	border: none;
	outline: none;
	border-radius: 20px;
	margin: 0px;
	color: white;
	font-size: 13px;
	display: table-cell;
	background-color: #00b38f;
	flex-grow: 1;
	box-sizing: border-box;
	width: 80%;
}

::-webkit-input-placeholder {
   color: white;
}

.divFondo
{
	width: 100%;
	background-color: #1f2e2e;
	padding: 0px 0px 0px 0px;
}

body
{
	margin: 0px;
	background-color: #d9d9d9 !important;
}

.imgPerfil
{
	border-radius: 1000px;
	width: 200px;
	height: 200px;
	margin-top: -220px;
}

#divImg
{
	text-align: center;
}

#divIcons
{
	width: auto;
	height: auto;
	color: #f2f2f2;
	float: right;
	text-align: right;
	margin-top: -30px;
	font-size: 30px;
	-webkit-user-select: none; 
	margin-left: 30px;
}

.divEstrellas
{
	margin: 20px;
	text-align: center;
	-webkit-user-select: none; 
	margin-top: -12px;
}

.contenedorDatos
{
	border: 0.5px solid #00b38f;
	width: 500px;
	height: 500px;
	max-width: 90%;
	padding: 15px;
	margin: 30px 15px 30px 15px;
	display: inline-block;
}

.ftTitulo2
{
	color: #24478f;
	text-align: center;
	font-weight: 50;
	font-size: 30px;
}

#btnBuscar
{
	text-align: center; 
	color: #00b38f;
	background-color: #f2f2f2;
	border-radius: 20px;
	outline: none;
	border: none;
	margin: inherit;
}

.buscarPeque
{
	margin-top: -35px;
	margin-bottom: -5px;
}

.navbar .dropdown-menu:after{
 display:none;
}

.drops
{
	display: inline-block;
}

ul {
  list-style-type: none;
}

.liW
{
	color: #f2f2f2;
}

.showUpBuscarC
{
	background-color: #00cca3;
	color: #f2f2f2;
	width: 100%;
	font-size: 20px;
}

.txtShowUp
{
	color: inherit;
	background-color: inherit;
	outline: none;
	border: none;
	margin-left: 10px;
	width: 90%;
}

.ftNombre
{
	color: #f2f2f2;
	font-size: 30px;
	text-align: center;
	margin-top: -15px;
}

.portaBotones
{
	height: 50px;
	margin-top: -50px;
	margin-left: 75%;

}

.ftProfesion
{
	color: #f2f2f2;
	font-size: 30px;
	text-align: center;
	font-style: italic;
	margin: -10px 0px 20px 0px;
}

.btnModificar
{
	color: #f2f2f2;
	padding: 7px;
	font-size: 15px;
	background-color:  #e67300;
	border-radius: 15px;
	border: none;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	margin: 0px 10px 0px 10px;
	outline: none;
	box-shadow:0px 5px #cc6600;
	position: relative;
}

.btnModificar:hover
{
	background-color: #ffa64d;
}

.btnModificar:active
{
	box-shadow:none;
	top:4px;
	transition-duration: 0s;
}

.btnSubirImg
{
	color: #f2f2f2;
	padding: 7px;
	font-size: 15px;
	background-color:  #0066cc;
	border-radius: 15px;
	border: none;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	margin: 0px 10px 0px 10px;
	outline: none;
	box-shadow: 0px 5px #004d99;
	position: relative;
}

.btnSubirImg:hover
{
	background-color: #4da6ff;
	
}

.btnSubirImg:active
{
	box-shadow: none;
	top:4px;
	transition-duration: 0s;
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.close
{
	font-size: 20px !important;
}

.imgNueva
{
	width: 150px;
	height: 150px;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  left: 9px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  left: 10px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

.margenForma
{
	margin: 20px 0px 0px 0px;
}

textarea.perfil
{
	background-color: #f2f2f2;
	color: rgb(20, 15, 15);
	width: 100%;
	resize: none;
	height: 400px;
	border: none;
}


.btnGuardar
{
	color: #f2f2f2;
	padding: 7px;
	font-size: 15px;
	background-color: #267326;
	border-radius: 15px;
	border: none;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	margin: 0px 10px 0px 10px;
	outline: none;
	box-shadow: 0px 5px #133913;
	position: relative;
}

.btnGuardar:hover
{
	background-color: #66cc66;
	
}

.btnGuardar:active
{
	box-shadow: none;
	top:4px;
	transition-duration: 0s;
}


.btnNoGuardar
{
	color: #f2f2f2;
	padding: 7px;
	font-size: 15px;
	background-color:  #ff3333;
	border-radius: 15px;
	border: none;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	margin: 0px 10px 0px 10px;
	outline: none;
	box-shadow: 0px 5px #b30000;
	position: relative;
}

.btnNoGuardar:hover
{
	background-color: #ff6666;
	
}

.btnNoGuardar:active
{
	box-shadow: none;
	top:4px;
	transition-duration: 0s;
}

.divGN
{
	padding-top: 30px;
}

.pEdits
{
	color: black;
	text-align: justify !important;
	font-size: 20px;
}