


.btnGeneral
{
	background-color: #00b38f;
	color: white;
	border: 2px solid white;
	border-radius: 10px;
	transition-duration: 0.5s;
	font-size: 16px;
	padding: 15px;
}

.btnGeneral:hover
{
	color: #00b38f;
	background-color: white;
	border-color: #00b38f;
}

#inicio
{
	background-color: #00b38f;
	overflow: hidden;
	padding: 10px 10px 60px 10px ;
	margin: auto !important;
}

#usarTyn
{
	background-color: #66b5ff;
	width: 100%;
	padding-bottom: 100px;
}

#ques
{
	background-color: #003366;
	width: 100%;
	padding-bottom: 50px;
}

.botonRegistro:active
{
	background-color: #4d4dff;
}

.centro
{
	width: 1000px;
	max-width: 100%;
	margin: auto;
	color: #e0ebeb;
	padding:  15px 15px 20px 15px;
}


body
{
	font-family: 'Raleway', 'Arial';
}


.ingreso
{
	color: #c1d7d7;
	transition-duration: 0.5s;
	text-decoration: none;
	position: static;
}

.ingreso:hover
{
	color: #eff5f5;
	text-decoration: none !important;
	background-color: white;
	border-radius: 20px;
	color: #00b38f;
	padding:  15px;
}


.ingreso:active
{
	color: #ffffff;
}

#poster1
{
	width:  500px;
	max-width: 100%;
	display: inline-block;
	margin-bottom: 60px;
}

.well-perks
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 5px 20px #888888;
	color: black;
	display: inline-block;
	padding: 15px;
	margin: 30px;
	width: 280px;
	height: auto;
	margin: 15px 18px 15px 18px;
	max-width: 100%;
}

#well-regis
{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 5px 20px #888888;
	color: black;
	display: inline-block;
	padding: 35px;
	width: 450px;
	max-width: 100%;
	float: right;
	margin-top: -34px;
}

#regis
{
	margin-left: 30px;
	margin-right: 30px;
	text-align: center;
	color: #00b38f;
}

.linkeroni
{
	color: #00b38f;
	transition-duration: 0.5s;
	padding: 10px;
}

.linkeroni:active
{
	color: #00b38f;
}

.linkeroni:hover
{
	color: white;
	border-radius: 20px;
	background-color: #00b38f;
	text-decoration: none;
}

.titulo2
{
	font-weight: 100;
	font-size: 65px;
	color: white;
	text-align: center;
	padding: 10px 20px 30px 20px;
}

.ico
{
	padding: 0px 7px 15px 7px;
}

.gorila
{
	margin-top: -40px;
	width:385px;
	height:350px;
}

.llave
{
	width:250px;
	height:250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
	margin-top: 70px;
	margin-bottom: 20px;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0px;
    left:0px;
    background:rgba(0,0,0,0.75);
}
 
/* Codigo obtenido de  http://inspirationalpixels.com/tutorials/custom-popup-modal */

.popup-inner {
    max-width:100%;
    width:700px;
    padding:40px;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0px 2px 6px rgba(0,0,0,1);
    border-radius:3px;
    background:#fff;
    padding-top: 50px;
}
 
.popup-close {
    width:30px;
    height:30px;
    padding-top:4px;
    display:inline-block;
    position:absolute;
    top:0px;
    right:0px;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    border-radius:1000px;
    background:rgba(0,0,0,0.8);
    font-family:Arial, Sans-Serif;
    font-size:20px;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,1);
    text-decoration:none;
}

/* Fin de codigo recopliado */

.inputTextPopup
{
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #00b38f;
    border-radius: 4px;
    box-sizing: border-box;
}

.trabajador
{
	max-width: 100%;
	width: 400px;
	height: auto;
	padding: 20px 15px 15px 15px;
	margin: 50px 10px 50px 50px;
	border-radius: 10px;
	border: 2px solid #ffd11a;
	color: #ffd11a;
	background-color: white;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	text-align: center;
}

.trabajador:hover
{
	color: white;
	background-color: #ffd11a;
	border-color: white;
}

.usuario
{
	max-width: 100%;
	width: 400px;
	height: auto;
	padding: 20px 15px 15px 15px;
	margin: 50px 10px 50px 50px;
	border-radius: 10px;
	border: 2px solid #00b38f;
	color: #00b38f;
	background-color: white;
	transition-duration: 0.5s;
	-webkit-transition-duration: 0.5s;
	text-align: center;
}

.usuario:hover
{
	color: white;
	background-color: #00b38f;
	border-color: white;
}

.rmLink
{
	color: inherit !important;
}

.rmLink:hover
{
	text-decoration: none;
	color: inherit !important;
}

.rmLink:active
{
	color: inherit !important;
}

.dot
{
	display: inline-block;
	margin-left: 10px;
	width: 30%;
	position: absolute;
}